@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w QUIZIE</h1>
    <input id="Start" onclick="location.href='@Url.Action("Quiz", "Quiz")'" type="button" value="Rozpocznij" />
</div>
