@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Strona główna Quizów</h1>
    <p>Coś tam coś tam jakieś treści...</p>
    <p>Wejdź i wyszukaj quiz dla siebie! (lub kiedyś stwórz swój. ale to kiedyś) </p>
    <input id="Start" onclick="location.href='@Url.Action("Index", "Quiz")'" type="button" value="Wyszukaj quiz" />
</div>
