@{
    ViewData["Title"] = "Home Page";
}


    <div class="jumbotron">
        <h1 class="display-4">Witamy na Quiz<span style="color: #0069D9"><b>IT</b></span>!</h1>
        <p class="lead"><br />QuizIT to platforma umożliwiająca naukę poprzez rozwiązywanie quizów.<br />Możesz tu tworzyć i udostępniać własne quizy lub korzystać z zestawów utworzonych przez innych użytkowników.</p>
        <hr class="my-4">
        <p>Wybierz quiz dla siebie lub stwórz własny :)</p>
        <input id="Start" onclick="location.href='@Url.Action("Index", "Quiz")'" type="button" value="Wyszukaj quiz" class="btn btn-primary btn-lg" />
        <input id="Nowy" onclick="location.href='@Url.Action("Create", "Quiz")'" type="button" value="Stwórz nowy quiz" class="btn btn-primary btn-lg" />
    </div>

