@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Wybierz Quiz</h1>
        
        <form asp-action="Quiz">
            <button type="submit" name="ID" value="1000">Quiz matematyczny</button><br>
            <button type="submit" name="ID" value="5656">Quiz przyrodniczy</button><br>
            <button type="submit" name="ID" value="1234">Quiz z jezyka angielskiego</button><br>
        </form>

    </div>
