@model proj.Models.Score
@{
    ViewData["Title"] = "Home Page";
}

<div>

    <p>Twoja odp na pyt 1: @ViewData["Q1"]</p>
    <p>Twoja odp na pyt 2: @ViewData["Q2"]</p>
    




</div>

<div>
    <input id="Back" onclick="location.href='@Url.Action("Index", "Home")'" type="button" value="Strona główna" />
</div>

<div>
    <input id="TryAgain" onclick="location.href='@Url.Action("Quiz", "Quiz")'" type="button" value="Spróbuj jeszcze raz" />
</div>

